# Drizzle Database Connection
# Use this for your local Development PostgreSQL database
DATABASE_URL="postgresql://user:password@localhost:5432/mimir_viewer"

# Later, Vercel will automatically inject POSTGRES_URL into your 
# production environment if you use Vercel Postgres, so you might
# end up mapping this or using it over there.
